#removeBtn{
    margin-right: 5px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 100px;
}
#list-el{
margin-left: -23px;
}
#removeBtn{
    font-weight: 900;
}
#maindiv{ 
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#inputdiv{
    text-align: center;
}
h1{
    font-weight: 900;
}
#submit-btn{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

#completeBtn{
    font-weight: 900;
    margin-right: 10px;
}

.listitems{
    font-weight: 900;
}