#removeBtn{
    margin-right: 5px;
}
body{
    font-family: 'Courier New', Courier, monospace
}
#list-el{
margin-left: 20px;
}
#removeBtn{
    font-weight: 900;
}
#maindiv{ 
    margin-left: 30%;
    margin-right: 30%;
}

#inputdiv{
    text-align: center;
}
h1{
    font-weight: 900;
}
#submit-btn{
    font-family: 'Courier New', Courier, monospace 
}